/*.loader {*/
/*    !*свг и/или анимация*!*/
/*}*/

.loader {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: conic-gradient(from 180deg at 50% 50%, rgba(255, 255, 255, 0), rgb(81, 45, 228));
    animation: rotateLoader 1.5s linear infinite;
}

@keyframes rotateLoader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}