.stand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Добавьте это правило в ваш CSS-файл */
/*.stand-overwrite > div {*/
/*    flex-direction: row !important;*/
/*}*/
/* Добавьте это правило в ваш CSS-файл */
/*:global(.stand-overwrite) > div {*/
/*    flex-direction: row !important;*/
/*}*/

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
