.buttonsContainer {
    display: flex;
    gap: 24px;

    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.editableSpanContainer {
    /*border: 1px solid red;*/
}