.App {
    --header_height: 60px;
    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    /*box-sizing: border-box;*/
    /*max-height: 720px;*/
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 70px;
    font-family: Montserrat, 'sans-serif';
}

.hw {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin: 0 auto;*/
    /*height: 100%;*/
    /*border: 1px solid red;*/
    /*margin-top: -326px;*/

    margin-top: 10px; /* Отступ между первой линией и контентом */
    margin-bottom: 34px; /* Отступ между контентом и второй линией */
}

.hw1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10px; /* Отступ между первой линией и контентом */
    margin-bottom: 34px; /* Отступ между контентом и второй линией */
}

.hw2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10px; /* Отступ между первой линией и контентом */
    margin-bottom: 72px; /* Отступ между контентом и второй линией */
}

.hw3 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10px; /* Отступ между первой линией и контентом */
    margin-bottom: 242px; /* Отступ между контентом и второй линией */
}

.hw4 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10px; /* Отступ между первой линией и контентом */
    margin-bottom: 54px; /* Отступ между контентом и второй линией */
}

/*.hw > div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*justify-content: center;*!*/
/*    !*gap: 100px*!*/
/*}*/
/*!*.stand-overwrite > div {*!*/
/*!*    flex-direction: row !important;*!*/
/*!*}*!*/
/*:global(.stand-overwrite) > div {*/
/*    flex-direction: row !important;*/
/*}*/


.hwTitle {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;

    /*margin-bottom: 40px;*/
    margin-bottom: 10px; /* Отступ между заголовком и первой линией */
    margin-top: 48px;
}

.line {
    width: 100%;
    border: 1px solid rgb(217, 217, 217);
    /*margin-top: 10px; !* Отступ между заголовком и первой линией *!*/
    /*margin-bottom: 336px; !* Отступ между первой линией и вторым контентным блоком *!*/
}

.App > :not(:last-child) {
    margin-bottom: 40px; /* Отступ между компонентами HW1, HW2, HW3 и т.д., кроме последнего */
}