.friendMessage {
    /*border: 2px solid #ff9191;*/
    /*height: 100px;*/
    /*display: flex;*/
    margin-bottom: 46px;
}

.friendImageAndText {
    display: flex;
    /*flex-direction: row-reverse;*/
    /*margin-top: 24px;*/
    /*margin-bottom: 180px;*/
    position: relative;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;

    margin-top: 15px;
}

.friendText {
    margin-left: 12px;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.1),0px 5px 20px 0px rgba(29, 33, 38, 0.03);
    background: rgb(217, 223, 241);

    border-radius: 12px 12px 12px 12px;
}

.friendText::after {
    position: absolute;
    content: "";
    left: 51px;
    top: 44px;
    border: 10px solid transparent;
    border-left: 10px solid #d9dff1;

    transform: rotate(-90deg); /* Поворот на 90 градусов против часовой стрелки */
    /*transform-origin: top right; !* Центр вращения в верхнем правом углу *!*/
}

.friendName {
    padding: 8px 0 0 12px;

    border-radius: 12px 12px 0 0;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: right;
    display: flex;
}

.friendMessageText {
    padding: 4px 12px 8px;

    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.friendTime {
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    /*align-items: center;*/
    position: absolute;

    transform: translate(10px, 6px);

    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: right;


}
